name: "CI"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  nix:
    runs-on: self-hosted
    strategy:
      matrix:
        system: [aarch64-darwin, aarch64-linux]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: nixci
        run: nixci build --systems "github:nix-systems/${{ matrix.system }}"
      # FIXME: This should run only darwin
      - name: Integration Test
        run: nix develop -c cargo test -F integration_test
